langchain==0.2.3
langchain-core==0.2.43
langchain-community==0.2.4
huggingface_hub==0.19.3
faiss-cpu
gradio==4.36.1
streamlit==1.36.0
sentence-transformers==2.7.0
transformers==4.40.2
datasets==2.19.0
accelerate==0.30.0
evaluate==0.4.2
pydantic==1.10.13
bitsandbytes
