streamlit==1.36.0
langchain==0.2.3
langchain-core==0.2.43
langchain-community==0.2.4
transformers==4.40.2
sentence-transformers==2.7.0
datasets==2.19.0
accelerate==0.30.0
evaluate==0.4.2
pydantic==1.10.13
faiss-cpu
huggingface_hub==0.19.3
gradio==4.36.1
torch==2.2.2
